.banner {
max-width: 1440px;
width: 100%;
  height: 223px;
  border-radius: 25px;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.banner-inner {
  position: relative;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

.banner-title {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
/* Media queries pour mobiles (max-width: 480px) */
@media screen and (max-width: 480px) {
  .banner {
    height: 111px; /* Réduction de hauteur */
    border-radius: 10px; /* Réduction de bordure */
    /* ... autres styles pour l'alignement si nécessaire ... */
    padding: 0 20px;
  }

  .banner-title {
    font-size: 24px; /* Réduction de la taille du titre */
    /* ... autres styles pour le titre ... */
    text-align: left;
  }
}