.layout-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.grid-main {
  width: 100%;
    max-width: 1440px;

  margin: 0 auto;
padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 15px;  width: 100%;
  flex-grow: 1;
}


@media screen and (max-width: 768px) {
        .layout-main .banner {
        max-width: 95%;
        height: 150px;
    }
}