.properties-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  margin-top: 22px;
  padding: 59px;
  background-color: #f6f6f6;
  border-radius: 25px;
}

.property-card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.property-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-card h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0;
  color: white;
  font-style: bold;
  font-size: 18px;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.43;
    letter-spacing: 0;
}