#root {
 width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  max-width: 1240px;
  margin: auto;
  width: 100%;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
