.header {
  width: 100%;
  background-color: white;
}

.header-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 45px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content img {
  width: 136px;
  height: 34px;
}

.header-nav {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

.header-nav a.active,
.header-nav a:hover {
  text-decoration: underline;
}
