
.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0;
  color: rgb(253, 248, 248);
  font-style: bold;
  font-size: 18px;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.43;
    letter-spacing: 0;
}